h1{
    border-radius: 30px;
    border: 4px solid red; 
    animation: BGcolorchanging-5colors 5s linear infinite; /* Aplica la animación al borde */
}

@keyframes BGcolorchanging-5colors {
    0%{
        border-color: #f60101;
    }
    20%{
        border-color: #f69001;
    }
    40%{
        border-color: #eef601;
    }
    60%{
        border-color: #22f601;
    }
    80%{
        border-color: #3201f6;
    }
    100%{
        border-color: #58008f;
    }
}