body{
    animation: BGcolorchanging-5colors 8s linear infinite alternate both;
}

@keyframes BGcolorchanging-5colors {
    0%{
        background: #f60101;
    }
    20%{
        background: #f69001;
    }
    40%{
        background: #eef601;
    }
    60%{
        background: #22f601;
    }
    80%{
        background: #3201f6;
    }
    100%{
        background: #58008f;
    }
}

h1{
    text-align: center;
    color: #303030;
}