<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiblioTeck</title>
    <link rel="stylesheet" href="/src/public/css/styles.css"> <!-- Enlaza tu archivo CSS -->
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <h1 class="logo">BiblioTeck</h1>
                <ul class="nav-links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/libros">Libros</a></li>
                    <li><a href="/perfil">Perfil</a></li>
                    <li><a href="/register">Registrar</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <main>
        <!-- Contenido específico de cada página se incluirá aquí mediante EJS -->
        <%= content %> <!-- Este es el marcador de posición donde se insertará el contenido específico de cada página -->
    </main>

    <footer>
        <!-- Pie de página -->
        <p>Derechos de autor © 2024 - Biblioteca</p>
    </footer>
</body>
</html>
